[Unit]
Description=jupyterhub

[Service]
KillMode=control-group
Type=simple
Environment="PATH=/home/software/miniconda3/envs/jupyterhub/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart="/root/jupyter_hybridcloud_spawner/examples/jupyterhub_launch.sh"
WorkingDirectory=/tmp
Restart=always

[Install]
WantedBy=multi-user.target
